<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3-L Variety Store</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <html lang="en">
    {% if user.is_authenticated %}
    <header>
        <div class="navbar">
            <h1>3-L Variety Store and Frozen Goods</h1>
            <nav>
                <ul>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#order-online">Order Online</a></li>
                    <li><a href="#reservation">Reservation</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>WELCOME USER</h2>
        <p>are you ready to order?</p>
        <a href="#order" class="order-button">ORDER NOW</a>
    </main>

    {% else %}

    <header>
        <div class="navbar">
            <h1>3-L Variety Store and Frozen Goods</h1>
            <nav>
                <ul>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#order-online">Order Online</a></li>
                    <li><a href="#reservation">Reservation</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>You need to sign in</h2>
        <p>are you ready to order?</p>
        <a href="#order" class="order-button">ORDER NOW</a>
    </main>
    
{% endif %}
</body>
</html>
